$orange-color: #cf5c36;
$pink-color: #ed9298;
$bone-color: #f9f6ee;
$offwhite: #faf9f6;
$white: #ffffff;
$grey-color: #333333;
$yellow-color: #f4d698;

$new-yello-color: #fdca3f;

$grey-blue: #8fa8c2;

$primary-color: #009849;
$secondary-color: #c18277;

html {
  scroll-behavior: smooth;
}
h1 {
  color: $grey-color;
  margin-top: 0px;
  margin-left: 6vw;
  font-size: 3.5vw;
  position: relative;
  margin-bottom: 5vw;
}
h2 {
  margin: 0px;
  margin-bottom: 1vw;
  font-size: 2vw;
}
a {
  text-decoration: none;
  color: $grey-color;
}
img {
  max-width: 100%;
}
p {
  margin: 0;
}
header {
  img {
    width: 100vw;
    display: block;
    position: relative;
  }
}
.runningText {
  transition: 1s;
  line-height: 1.5em;
}

#fartContainer {
  position: absolute;
  top: 40vw;
  display: flex;
  width: 100vw;
}
#fartLink:active {
  transition: 0.5s;
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset,
    -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
  transform: scale(0.97);
}
#fartLink {
  transition: 0.5s;
  margin: auto;
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15),
    -5px -5px 10px 0 rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 1vw;
}
#fartParagraph {
  color: rgba($grey-color, 0.5);
  margin: 0;
  // :hover {
  //   color: rgba($grey-color, 0.6);
  // }
}
#toggleButton1 {
  margin: 0.5vw;
  display: flex;
  color: rgba($grey-color, 0.5);
  background-color: $offwhite;
  width: 7vw;
  height: 4vw;
  box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.15),
    -10px -10px 10px 0 rgb(255, 255, 255);
  border-radius: 40px;
  margin: auto;
  position: relative;
  transition: 1s;
}
#toggleCircle1 {
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  height: 3vw;
  width: 3vw;
  background-color: $grey-blue;
  border-radius: 50%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
#toggleCircle1:hover {
  cursor: pointer;
}
#toggleButton2 {
  margin: 0.5vw;
  display: flex;
  color: rgba($grey-color, 0.5);
  background-color: $offwhite;
  width: 7vw;
  height: 4vw;
  box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.15),
    -10px -10px 10px 0 rgb(255, 255, 255);
  border-radius: 40px;
  margin: auto;
  position: relative;
  transition: 1s;
}
#toggleCircle2 {
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  height: 3vw;
  width: 3vw;
  background-color: $primary-color;
  border-radius: 50%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
#toggleCircle2:hover {
  cursor: pointer;
}
#toggleButton3 {
  margin: 0.5vw;
  display: flex;
  color: rgba($grey-color, 0.5);
  background-color: $offwhite;
  width: 7vw;
  height: 4vw;
  box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.15),
    -10px -10px 10px 0 rgb(255, 255, 255);
  border-radius: 40px;
  margin: auto;
  position: relative;
  transition: 1s;
}
#toggleCircle3 {
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  height: 3vw;
  width: 3vw;
  background-color: $yellow-color;
  border-radius: 50%;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
#toggleCircle3:hover {
  cursor: pointer;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: $offwhite;
  font-family: "Poppins", sans-serif;
  color: $grey-color;
}

.introductionContent {
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15),
    -8px -8px 10px 0 rgb(255, 255, 255);
  font-size: 2vw;
  font-weight: 300;
  padding: 3vw;
  width: 20vw;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  p {
    color: rgba($grey-color, 0.5);
  }
}
.introductionContent:hover {
  cursor: pointer;
  // p {
  //   color: rgba($grey-color, 0.6);
  // }
}
.introductionLine {
  display: flex;
  margin-top: 5vw;
  justify-content: space-between;
  margin: 5vw;
  flex-wrap: wrap;
}

.IClickedClass {
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset,
    -8px -8px 10px 0 rgb(255, 255, 255) inset;
  background-color: rgba($grey-color, 0.01);
  p {
    transform: scale(0.97);
    color: rgba($color: $grey-blue, $alpha: 0.6);
    // color: rgba($orange-color, $alpha: 0.6);
    // text-shadow: 0 0 3px white;
  }
}
.IContent {
  display: none;
}
.IContentClickedClass {
  display: block;
}
#I1Content {
  // margin-top: 5vw;
  // box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15),
  //   -8px -8px 10px 0 rgb(255, 255, 255);
  // width: 90vw;
  margin: auto;
  border-radius: 50px;
  #I1Row0 {
    font-size: 4vw;
    overflow: hidden;
    text-align: center;
  }
  .hej {
    font-weight: 900;
    font-size: 9vw;
  }
  #I1Row1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vw;
    img {
      width: 30vw;
      margin: 5vw;
      // box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15),
      //   -8px -8px 10px 0 rgb(255, 255, 255);
      border-radius: 40px;
    }
    p.runningText {
      span {
        font-size: 2vw;
        font-weight: 900;
        color: #097d5a;
      }
      width: 27vw;
      margin: auto;
      margin: 5vw;
      justify-self: center;
      text-align: center;
      align-self: center;
    }
  }
}
#I3Row1 {
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 5vw;
  position: relative;
  div {
    width: 8vw;
    height: 8vw;
    box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15),
      -8px -8px 10px 0 rgb(255, 255, 255);
    border-radius: 50%;
    overflow: hidden;
    :hover {
      cursor: pointer;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-iteration-count: 1;
      overflow: hidden;
      background-image: url("../img/shine.png");
      animation-name: slide;
    }
  }
}

#skillsContainerID {
  display: none;
  height: 40vw;
  justify-content: space-around;
  animation-name: textReveal;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}
.I1Row2Class {
  width: 27vw;
  img {
    width: 5vw;
    display: block;
  }
  h3 {
    margin-bottom: 0px;
  }
}
.I1Row3 {
  img {
    display: inline;
  }
  p {
    display: inline;
  }
}
.skillParagraph {
  margin-top: 1vw;
}
.skillsBackground {
  width: 100%;
  height: 1vw;
  background-color: $grey-color;
  position: relative;
}
.skillsForeground {
  height: 1vw;
  background-color: $grey-blue;
  position: absolute;
  top: 0;
  left: 0;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
#skill1 {
  width: 80%;
  animation-name: skillFill1;
}
#skill2 {
  width: 70%;
  animation-name: skillFill2;
}
#skill3 {
  width: 60%;
  animation-name: skillFill3;
}
#skill4 {
  width: 70%;
  animation-name: skillFill4;
}
#skill5 {
  width: 65%;
  animation-name: skillFill5;
}

@keyframes skillFill1 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes skillFill2 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes skillFill3 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes skillFill4 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes skillFill5 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes slide {
  0% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes textReveal {
  0% {
    height: 0vw;
  }
  100% {
    height: 40vw;
  }
}

//STYLE OF PROJECT CONTAINERS --------------------------------------------------------------------------------
.I2Content {
  display: flex;
  justify-content: space-around;
  width: 85vw;
  margin: auto;
  .projectButton {
    box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15),
      -8px -8px 10px 0 rgb(255, 255, 255);
    font-size: 1.5vw;
    font-weight: 300;
    padding: 2vw;
    margin: 1vw;
    width: auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    p {
      color: rgba($grey-color, 0.5);
    }
  }
  .projectButton:hover {
    cursor: pointer;
  }
}
//ARTICLE VISIBILITY --------------------------------------------------------------------------------------
.caseArticle {
  display: none;
  width: 100vw;
  margin: auto;
  h1 {
    color: $grey-color;
    padding-top: 5vw;
    margin: auto;
    font-size: 15vw;
    text-align: center;
    width: 100vw;
  }
}
.caseArticleOpen {
  display: block;
}
.descriptionContainer {
  background-color: $pink-color;
}
.description {
  position: sticky;
  background-color: $grey-color;
  color: $bone-color;
  padding: 2vw;
  margin: 0px;
  margin-bottom: 5vw;
  border-radius: 0px 30px 30px 0px;
  box-sizing: border-box;
  width: fit-content;
  top: 5px;
}
.scrollUpContainer {
  width: 30vw;
  text-align: center;
  margin: auto;
}
.scrollUp {
  color: $grey-color;
  font-weight: 700;
  font-size: 2vw;
  margin: 0px;
}
// CASE ONE ARTICLE ---------------------------------------------------------------------------------------
.articleRow {
  box-sizing: border-box;
  // margin-bottom: 10vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  color: $grey-color;
  font-size: 1.3vw;
  font-family: "Noto Serif", serif;
  width: 60vw;
  margin: 0px auto;
  margin-bottom: 10vw;
  img {
    width: 60vw;
  }
}
.articleRowThree > img {
  justify-self: center;
  width: 30vw;
}
.articleRowFive {
  background-color: $white;
  padding: 5vw;
  img {
    width: 50vw;
  }
}
// CASE TWO ARTICLE ---------------------------------------------------------------------------------------
#caseTwoIDArticle {
  .articleRow2 {
    width: 80vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10vw;
    img {
      width: 19vw;
    }
    video {
      height: 70vh;
    }
  }
  .bigbigContainer {
    align-items: center;
  }
  .bigContainer {
    flex-direction: column;
    margin: 0;
    align-items: center;
    img {
      width: 50vw;
    }
  }
  .iconFlex {
    margin-left: 4vw;
    img {
      width: 15%;
    }
  }
  .articleRow2One {
    justify-content: center;
    margin-bottom: 5vw;
    img {
      width: 60vw;
    }
  }
  .articleRow2Two {
    img {
      width: 10vw;
    }
  }
  .articleRow2Four {
    justify-content: center;
    video {
      height: 60vw;
    }
  }
}
#caseThreeIDArticle {
  .articleRow {
    justify-content: center;
    video {
      justify-self: center;
      align-self: center;
      width: 40vw;
    }
  }
}
#caseFourIDArticle {
  .articleRow {
    width: 80vw;
    video {
      width: 80vw;
    }
    img {
      width: 25vw;
    }
  }
  .articleRowFour {
    display: flex;
    justify-content: space-between;
    div {
      width: 25vw;
    }
  }
}
.classCaseFive {
  height: 90vh;
}
//FOOTER --------------------------------------------------------------------------------------------------
#footer1 {
  margin-top: 5vw;
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15),
    -8px -8px 10px 0 rgb(255, 255, 255);
  background-color: $grey-color;
  padding: 2vw;
  color: $offwhite;
  #contactFormParagraph {
    font-size: 6vw;
    text-align: center;
    font-weight: 600;
    margin: 0px;
    margin-top: 3vw;
  }
  #contactFormParagraph2 {
    font-size: 4vw;
    text-align: center;
    font-weight: 100;
    width: 60vw;
    margin: auto;
    margin-bottom: 3vw;
  }
  form {
    text-align: center;
    margin-bottom: 5vw;
    input,
    textarea {
      display: block;
      margin: auto;
      border-radius: 10px;
      border: none;
      background-color: $grey-color;
      box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset,
        -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
      color: rgba($bone-color, 0.8);
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      margin-top: 5vw;
      padding: 3vw;
      width: 70vw;
    }
    #message {
      height: 20vh;
    }
    #submit {
      width: 30vw;
      box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15),
        -5px -5px 10px 0 rgba(255, 255, 255, 0.05);
    }
    #submit:hover {
      color: $primary-color;
    }
    // input: focus;
    // textarea:focus {
    // border-style: solid;
    // border-color: $primary-color;
    // border-width: 2px;
    // border: none;
    // }
  }
}

#footer2 {
  background-color: $grey-blue;
  width: 100vw;
  margin: 0px;
  text-align: center;
  padding: 6px 0px;
  font-size: 4vw;
  // box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15),
  //   -1px -1px 8px 0 rgba(255, 255, 255, 0.3);
  p {
    margin: 0px;
  }
}

@keyframes headerRoll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media (min-width: 640px) {
  #introductionLine {
    .introImg {
      height: 15vw;
    }
  }
  #footer1 {
    #contactFormParagraph {
      font-size: 2vw;
    }
    #contactFormParagraph2 {
      font-size: 1vw;
      width: 15vw;
    }
    form {
      input,
      textarea {
        width: 25vw;
        margin-top: 1vw;
        padding: 1vw;
      }
      #submit {
        width: 10vw;
      }
      #submit:active {
        box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset,
          -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
        transform: scale(0.97);
      }
    }
  }
  #footer2 {
    font-size: 2vw;
  }
}

@media (min-width: 960px) {
  #footer2 {
    font-size: 1vw;
  }
}

// #introductionLine {
//   display: flex;
//   margin-top: 5vw;
//   justify-content: space-around;
//   .introImg {
//     margin: auto;
//     transition: 0.5s;
//     height: 30vw;
//     // box-shadow: 10px 10px 14px 0 rgba(0, 0, 0, 0.2),
//     //   -8px -8px 12px 0 rgba(255, 255, 255, 0.2);
//     border-radius: 40px;
//   }
//   .introImg:hover {
//     transition: 0.5s;
//     transform: scale(1.05);
//     cursor: pointer;
//     box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15),
//       -8px -8px 10px 0 rgb(255, 255, 255);
//   }
// }

// $green-color: #009849;
// $skin-pink-color: #c18277;

// font-family: 'Bebas Neue', cursive;
// font-family: 'Inconsolata', monospace;
// font-family: 'Noto Serif', serif;
// font-family: 'Poppins', sans-serif;
// box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
