h2 {
  margin: 0px;
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: #333333;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f9f6ee;
  font-family: "Poppins", sans-serif;
  color: #f9f6ee;
}

#headDiv {
  position: relative;
}

#contactID {
  background-color: #333333;
  color: #f9f6ee;
  border-color: #333333;
  position: absolute;
  top: 5vw;
}

#headImageClass {
  width: 100vw;
  display: none;
}

#introductionVideo {
  display: block;
  overflow: hidden;
  width: 100vw;
}

#introductionLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  background-color: #ed9298;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ed9298;
  position: relative;
}

#introductionLine img {
  margin: auto 7vw;
  height: 15vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#introductionLine div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 1px;
  background-color: #f9f6ee;
}

#introductionLine div div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 1px;
  width: 35.42vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  background-color: #ed9298;
  font-size: 1.5vw;
}

#introductionLine div div p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#introductionLine div div:hover {
  background-color: #333333;
  cursor: pointer;
  color: #f9f6ee;
}

#introductionLine div div:hover .ddd {
  display: block;
}

#introductionLine div div:hover .dd {
  display: none;
}

.introductionButton {
  text-align: center;
  color: #333333;
  display: block;
}

.ddd {
  display: none;
  margin: 0px;
  font-size: 1vw;
  padding: 2vw;
}

.introClickedClass {
  border-color: #cf5c36;
  color: #cf5c36;
}

.introductionClosed {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #333333;
  color: #f9f6ee;
  border-radius: 30px 0px 0px 30px;
  width: 25vw;
  padding: 2vw;
  text-align: left;
  margin: 0px;
  display: none;
  float: right;
}

.introOpenClass {
  display: block;
  width: 25vw;
}

#contactIDopen > span {
  font-weight: 600;
}

.stickyLogo {
  width: 10vw;
  border-radius: 0 0 30px 30px;
  position: -webkit-sticky;
  position: sticky;
  left: 85vw;
  top: 0px;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 10;
}

#testWriting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5vw;
}

.testWritingItem {
  background-color: #f9f6ee;
  border-style: solid;
  border-color: #ed9298;
  border-radius: 50%;
  border-width: 2px;
  color: #ed9298;
  font-size: 2em;
  font-weight: 700;
  width: 17vw;
  height: 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testWritingItem:hover {
  color: #cf5c36;
  border-color: #cf5c36;
}

h1 {
  color: #333333;
  margin-top: 0px;
  margin-left: 6vw;
  font-size: 3.5vw;
  position: relative;
  margin-bottom: 5vw;
}

.vid {
  width: 30vw;
  margin-left: 5px;
  margin: auto;
  position: absolute;
  bottom: 0px;
}

.homeFlexContainer2 {
  width: 100vw;
}

.caseContainer {
  opacity: 0%;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  background-color: #cf5c36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5vw;
  margin: auto;
  margin-top: 5vw;
  color: #f9f6ee;
}

.caseContainer .caseContainerArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0%;
  height: 0vw;
}

.caseContainer .caseContainerArrow p {
  text-align: center;
  color: #ed9298;
  margin: 0px;
}

.caseContainer:hover {
  color: #cf5c36;
  border-color: #cf5c36;
  cursor: pointer;
}

.caseContainerClicked {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #cf5c36;
  color: #f9f6ee;
  cursor: pointer;
  border: none;
}

.caseContainerClicked .caseContainerTitle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 100%;
  color: #cf5c36;
}

.caseContainerClicked .caseContainerArrow {
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 100%;
  height: 10vw;
}

.caseContainerClicked .arrowImage {
  height: 10vw;
}

.caseContainerClicked:hover {
  color: #f9f6ee;
}

.caseArticle {
  display: none;
  width: 100vw;
  margin: auto;
}

.caseArticle h1 {
  color: #333333;
  padding-top: 5vw;
  margin: auto;
  font-size: 15vw;
  text-align: center;
  width: 100vw;
}

.caseArticleOpen {
  display: block;
}

.descriptionContainer {
  background-color: #ed9298;
}

.description {
  position: -webkit-sticky;
  position: sticky;
  background-color: #333333;
  color: #f9f6ee;
  padding: 2vw;
  margin: 0px;
  margin-bottom: 5vw;
  border-radius: 0px 30px 30px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 5px;
}

.scrollUpContainer {
  width: 30vw;
  text-align: center;
  margin: auto;
}

.scrollUp {
  color: #333333;
  font-weight: 700;
  font-size: 2vw;
  margin: 0px;
}

.articleRow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333333;
  font-size: 1.3vw;
  font-family: "Noto Serif", serif;
  width: 60vw;
  margin: 0px auto;
  margin-bottom: 10vw;
}

.articleRow img {
  width: 60vw;
}

.articleRowThree > img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 30vw;
}

.articleRowFive {
  background-color: #ffffff;
  padding: 5vw;
}

.articleRowFive img {
  width: 50vw;
}

#caseTwoIDArticle .articleRow2 {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10vw;
}

#caseTwoIDArticle .articleRow2 img {
  width: 19vw;
}

#caseTwoIDArticle .articleRow2 video {
  height: 70vh;
}

#caseTwoIDArticle .bigbigContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#caseTwoIDArticle .bigContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#caseTwoIDArticle .bigContainer img {
  width: 50vw;
}

#caseTwoIDArticle .iconFlex {
  margin-left: 4vw;
}

#caseTwoIDArticle .iconFlex img {
  width: 15%;
}

#caseTwoIDArticle .articleRow2One {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vw;
}

#caseTwoIDArticle .articleRow2One img {
  width: 60vw;
}

#caseTwoIDArticle .articleRow2Two img {
  width: 10vw;
}

#caseTwoIDArticle .articleRow2Four {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caseTwoIDArticle .articleRow2Four video {
  height: 60vw;
}

#caseThreeIDArticle .articleRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caseThreeIDArticle .articleRow video {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40vw;
}

#caseFourIDArticle .articleRow {
  width: 80vw;
}

#caseFourIDArticle .articleRow video {
  width: 80vw;
}

#caseFourIDArticle .articleRow img {
  width: 25vw;
}

#caseFourIDArticle .articleRowFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#caseFourIDArticle .articleRowFour div {
  width: 25vw;
}

.classCaseFive {
  height: 90vh;
}

#footer1 {
  background-color: #333333;
  margin-top: 5vw;
  padding: 2vw;
  color: #f9f6ee;
}

#footer1 #contactFormParagraph {
  font-size: 2vw;
  text-align: center;
  font-weight: 600;
  margin: 0px;
  margin-top: 3vw;
}

#footer1 #contactFormParagraph2 {
  font-size: 1vw;
  text-align: center;
  font-weight: 100;
  width: 15vw;
  margin: auto;
  margin-bottom: 3vw;
}

#footer1 form {
  text-align: center;
  margin-bottom: 2vw;
}

#footer1 form input,
#footer1 form textarea {
  display: block;
  margin: auto;
  border-radius: 30px;
  border: none;
  border-style: solid;
  border-color: #f9f6ee;
  border-width: 2px;
  background-color: #f9f6ee;
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 1vw;
  padding: 1vw;
  width: 25vw;
}

#footer1 form #message {
  height: 20vh;
}

#footer1 form #submit {
  width: 10vw;
}

#footer1 form #submit:hover {
  color: #cf5c36;
}

#footer1 form input:focus,
#footer1 form textarea:focus {
  border-style: solid;
  border-color: #cf5c36;
  border-width: 2px;
}

#footer2 {
  background-color: #ed9298;
  width: 100vw;
  margin: 0px;
  text-align: center;
  padding: 6px 0px;
}

#footer2 p {
  margin: 0px;
}

@media (min-width: 640px) {
  #introductionLine {
    height: 30vw;
    width: 100vw;
  }
  #introductionLine p {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50vw;
  }
}

@media (min-width: 960px) {
  #introductionLine {
    height: 25vw;
  }
}
/*# sourceMappingURL=main2.css.map */