html {
  scroll-behavior: smooth;
}

header img {
  width: 100vw;
  display: block;
  position: relative;
  -webkit-box-shadow: 8px 8px 14px 0 rgba(0, 0, 0, 0.3), -8px -8px 10px 0 white;
          box-shadow: 8px 8px 14px 0 rgba(0, 0, 0, 0.3), -8px -8px 10px 0 white;
}

#goButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 40vw;
  color: rgba(51, 51, 51, 0.5);
  width: 100vw;
}

#goButton p {
  margin: auto;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -5px -5px 10px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -5px -5px 10px 0 rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 1vw;
}

a.buttonActive:active #goButton p {
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

#goButton:hover {
  cursor: pointer;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #faf9f6;
  font-family: "Poppins", sans-serif;
  color: #333333;
}

.introductionContent {
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
  font-size: 2vw;
  font-weight: 300;
  padding: 3vw;
  width: 20vw;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #009849;
}

.introductionContent p {
  color: rgba(51, 51, 51, 0.5);
}

.introductionContent:hover {
  cursor: pointer;
}

.introductionContent:hover p {
  color: rgba(51, 51, 51, 0.6);
}

.introductionLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.IClickedClass {
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 10px 0 white inset;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 10px 0 white inset;
  background-color: rgba(51, 51, 51, 0.01);
}

.IClickedClass p {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.IContent {
  display: none;
}

.IContentClickedClass {
  display: block;
}

#I1Content {
  margin-top: 5vw;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
  width: 90vw;
  margin: auto;
  border-radius: 50px;
}

#I1Content #I1Row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#I1Content #I1Row1 img {
  width: 30vw;
  margin: 5vw;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
  border-radius: 40px;
}

#I1Content #I1Row1 p {
  width: 30vw;
  margin: 5vw;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#I1Content #I1Row1 p span {
  font-size: 2vw;
  font-weight: 900;
}

#I1Content #I1Row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#I1Content #I1Row2 div {
  width: 8vw;
  height: 8vw;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: slide;
          animation-name: slide;
}

#I1Content #I1Row2 div::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(31, 2, 2, 0.5);
  width: 60px;
  height: 100%;
  top: 0;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

#I1Content #I1Row2 div::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  top: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

#I1Content #I1Row2 div::hover {
  cursor: pointer;
}

@-webkit-keyframes slide {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}

@keyframes slide {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}

h2 {
  margin: 0px;
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: #333333;
}

img {
  max-width: 100%;
}

.introClickedClass {
  border-color: #cf5c36;
  color: #cf5c36;
}

.introductionClosed {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #333333;
  color: #f9f6ee;
  border-radius: 30px 0px 0px 30px;
  width: 25vw;
  padding: 2vw;
  text-align: left;
  margin: 0px;
  display: none;
  float: right;
}

.introOpenClass {
  display: block;
  width: 25vw;
}

#contactIDopen > span {
  font-weight: 600;
}

.stickyLogo {
  width: 10vw;
  border-radius: 0 0 30px 30px;
  position: -webkit-sticky;
  position: sticky;
  left: 85vw;
  top: 0px;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 10;
}

#testWriting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5vw;
}

.testWritingItem {
  background-color: #f9f6ee;
  border-style: solid;
  border-color: #ed9298;
  border-radius: 50%;
  border-width: 2px;
  color: #ed9298;
  font-size: 2em;
  font-weight: 700;
  width: 17vw;
  height: 17vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testWritingItem:hover {
  color: #cf5c36;
  border-color: #cf5c36;
}

h1 {
  color: #333333;
  margin-top: 0px;
  margin-left: 6vw;
  font-size: 3.5vw;
  position: relative;
  margin-bottom: 5vw;
}

.vid {
  width: 30vw;
  margin-left: 5px;
  margin: auto;
  position: absolute;
  bottom: 0px;
}

.homeFlexContainer2 {
  width: 100vw;
}

.caseContainer {
  opacity: 0%;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  background-color: #cf5c36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5vw;
  margin: auto;
  margin-top: 5vw;
  color: #f9f6ee;
}

.caseContainer .caseContainerArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0%;
  height: 0vw;
}

.caseContainer .caseContainerArrow p {
  text-align: center;
  color: #ed9298;
  margin: 0px;
}

.caseContainer:hover {
  color: #cf5c36;
  border-color: #cf5c36;
  cursor: pointer;
}

.caseContainerClicked {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #cf5c36;
  color: #f9f6ee;
  cursor: pointer;
  border: none;
}

.caseContainerClicked .caseContainerTitle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 100%;
  color: #cf5c36;
}

.caseContainerClicked .caseContainerArrow {
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 100%;
  height: 10vw;
}

.caseContainerClicked .arrowImage {
  height: 10vw;
}

.caseContainerClicked:hover {
  color: #f9f6ee;
}

.caseArticle {
  display: none;
  width: 100vw;
  margin: auto;
}

.caseArticle h1 {
  color: #333333;
  padding-top: 5vw;
  margin: auto;
  font-size: 15vw;
  text-align: center;
  width: 100vw;
}

.caseArticleOpen {
  display: block;
}

.descriptionContainer {
  background-color: #ed9298;
}

.description {
  position: -webkit-sticky;
  position: sticky;
  background-color: #333333;
  color: #f9f6ee;
  padding: 2vw;
  margin: 0px;
  margin-bottom: 5vw;
  border-radius: 0px 30px 30px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 5px;
}

.scrollUpContainer {
  width: 30vw;
  text-align: center;
  margin: auto;
}

.scrollUp {
  color: #333333;
  font-weight: 700;
  font-size: 2vw;
  margin: 0px;
}

.articleRow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333333;
  font-size: 1.3vw;
  font-family: "Noto Serif", serif;
  width: 60vw;
  margin: 0px auto;
  margin-bottom: 10vw;
}

.articleRow img {
  width: 60vw;
}

.articleRowThree > img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 30vw;
}

.articleRowFive {
  background-color: #ffffff;
  padding: 5vw;
}

.articleRowFive img {
  width: 50vw;
}

#caseTwoIDArticle .articleRow2 {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10vw;
}

#caseTwoIDArticle .articleRow2 img {
  width: 19vw;
}

#caseTwoIDArticle .articleRow2 video {
  height: 70vh;
}

#caseTwoIDArticle .bigbigContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#caseTwoIDArticle .bigContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#caseTwoIDArticle .bigContainer img {
  width: 50vw;
}

#caseTwoIDArticle .iconFlex {
  margin-left: 4vw;
}

#caseTwoIDArticle .iconFlex img {
  width: 15%;
}

#caseTwoIDArticle .articleRow2One {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vw;
}

#caseTwoIDArticle .articleRow2One img {
  width: 60vw;
}

#caseTwoIDArticle .articleRow2Two img {
  width: 10vw;
}

#caseTwoIDArticle .articleRow2Four {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caseTwoIDArticle .articleRow2Four video {
  height: 60vw;
}

#caseThreeIDArticle .articleRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caseThreeIDArticle .articleRow video {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40vw;
}

#caseFourIDArticle .articleRow {
  width: 80vw;
}

#caseFourIDArticle .articleRow video {
  width: 80vw;
}

#caseFourIDArticle .articleRow img {
  width: 25vw;
}

#caseFourIDArticle .articleRowFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#caseFourIDArticle .articleRowFour div {
  width: 25vw;
}

.classCaseFive {
  height: 90vh;
}

#footer1 {
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
  background-color: #333333;
  margin-top: 5vw;
  padding: 2vw;
  color: #faf9f6;
}

#footer1 #contactFormParagraph {
  font-size: 6vw;
  text-align: center;
  font-weight: 600;
  margin: 0px;
  margin-top: 3vw;
}

#footer1 #contactFormParagraph2 {
  font-size: 4vw;
  text-align: center;
  font-weight: 100;
  width: 60vw;
  margin: auto;
  margin-bottom: 3vw;
}

#footer1 form {
  text-align: center;
  margin-bottom: 5vw;
}

#footer1 form input,
#footer1 form textarea {
  display: block;
  margin: auto;
  border-radius: 10px;
  border: none;
  background-color: #333333;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
  color: rgba(249, 246, 238, 0.8);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 5vw;
  padding: 3vw;
  width: 70vw;
}

#footer1 form #message {
  height: 20vh;
}

#footer1 form #submit {
  width: 30vw;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -5px -5px 10px 0 rgba(255, 255, 255, 0.05);
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -5px -5px 10px 0 rgba(255, 255, 255, 0.05);
}

#footer1 form #submit:hover {
  color: #009849;
}

#footer2 {
  background-color: #009849;
  width: 100vw;
  margin: 0px;
  text-align: center;
  padding: 6px 0px;
  font-size: 4vw;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -1px -1px 8px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -1px -1px 8px 0 rgba(255, 255, 255, 0.3);
}

#footer2 p {
  margin: 0px;
}

@-webkit-keyframes headerRoll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes headerRoll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@media (min-width: 640px) {
  #introductionLine .introImg {
    height: 15vw;
  }
  #footer1 #contactFormParagraph {
    font-size: 2vw;
  }
  #footer1 #contactFormParagraph2 {
    font-size: 1vw;
    width: 15vw;
  }
  #footer1 form input,
  #footer1 form textarea {
    width: 25vw;
    margin-top: 1vw;
    padding: 1vw;
  }
  #footer1 form #submit {
    width: 10vw;
  }
  #footer1 form #submit:active {
    -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
            box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  #footer2 {
    font-size: 2vw;
  }
}

@media (min-width: 960px) {
  #footer2 {
    font-size: 1vw;
  }
}
/*# sourceMappingURL=main.css.map */