html {
  scroll-behavior: smooth;
}

h1 {
  color: #333333;
  margin-top: 0px;
  margin-left: 6vw;
  font-size: 3.5vw;
  position: relative;
  margin-bottom: 5vw;
}

h2 {
  margin: 0px;
  margin-bottom: 1vw;
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: #333333;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

header img {
  width: 100vw;
  display: block;
  position: relative;
}

.runningText {
  -webkit-transition: 1s;
  transition: 1s;
  line-height: 1.5em;
}

#fartContainer {
  position: absolute;
  top: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

#fartLink:active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

#fartLink {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: auto;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -5px -5px 10px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -5px -5px 10px 0 rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  padding: 1vw;
}

#fartParagraph {
  color: rgba(51, 51, 51, 0.5);
  margin: 0;
}

#toggleButton1 {
  margin: 0.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(51, 51, 51, 0.5);
  background-color: #faf9f6;
  width: 7vw;
  height: 4vw;
  -webkit-box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.15), -10px -10px 10px 0 white;
          box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.15), -10px -10px 10px 0 white;
  border-radius: 40px;
  margin: auto;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

#toggleCircle1 {
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  height: 3vw;
  width: 3vw;
  background-color: #c18277;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#toggleCircle1:hover {
  cursor: pointer;
}

#toggleButton2 {
  margin: 0.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(51, 51, 51, 0.5);
  background-color: #faf9f6;
  width: 7vw;
  height: 4vw;
  -webkit-box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.15), -10px -10px 10px 0 white;
          box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.15), -10px -10px 10px 0 white;
  border-radius: 40px;
  margin: auto;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

#toggleCircle2 {
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  height: 3vw;
  width: 3vw;
  background-color: #009849;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#toggleCircle2:hover {
  cursor: pointer;
}

#toggleButton3 {
  margin: 0.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(51, 51, 51, 0.5);
  background-color: #faf9f6;
  width: 7vw;
  height: 4vw;
  -webkit-box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.15), -10px -10px 10px 0 white;
          box-shadow: 8px 8px 15px 0 rgba(0, 0, 0, 0.15), -10px -10px 10px 0 white;
  border-radius: 40px;
  margin: auto;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

#toggleCircle3 {
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  height: 3vw;
  width: 3vw;
  background-color: #f4d698;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#toggleCircle3:hover {
  cursor: pointer;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #faf9f6;
  font-family: "Poppins", sans-serif;
  color: #333333;
}

.introductionContent {
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
  font-size: 2vw;
  font-weight: 300;
  padding: 3vw;
  width: 20vw;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #009849;
}

.introductionContent p {
  color: rgba(51, 51, 51, 0.5);
}

.introductionContent:hover {
  cursor: pointer;
}

.introductionContent:hover p {
  color: rgba(51, 51, 51, 0.6);
}

.introductionLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.IClickedClass {
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 10px 0 white inset;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 10px 0 white inset;
  background-color: rgba(51, 51, 51, 0.01);
}

.IClickedClass p {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.IContent {
  display: none;
}

.IContentClickedClass {
  display: block;
}

#I1Content {
  margin: auto;
  border-radius: 50px;
}

#I1Content #I1Row0 {
  font-size: 4vw;
  overflow: hidden;
  text-align: center;
}

#I1Content .hej {
  font-weight: 900;
  font-size: 9vw;
}

#I1Content #I1Row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 5vw;
}

#I1Content #I1Row1 img {
  width: 30vw;
  margin: 5vw;
  border-radius: 40px;
}

#I1Content #I1Row1 p.runningText {
  width: 27vw;
  margin: auto;
  margin: 5vw;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#I1Content #I1Row1 p.runningText span {
  font-size: 2vw;
  font-weight: 900;
}

#I3Row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5vw;
  position: relative;
}

#I3Row1 div {
  width: 8vw;
  height: 8vw;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
  border-radius: 50%;
  overflow: hidden;
}

#I3Row1 div :hover {
  cursor: pointer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  overflow: hidden;
  background-image: url("../img/shine.png");
  -webkit-animation-name: slide;
          animation-name: slide;
}

#skillsContainerID {
  display: none;
  height: 35vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation-name: textReveal;
          animation-name: textReveal;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  overflow: hidden;
}

.I1Row2Class {
  width: 27vw;
}

.I1Row2Class img {
  width: 5vw;
  display: block;
}

.skillParagraph {
  margin-top: 1vw;
}

.skillsBackground {
  width: 100%;
  height: 1vw;
  background-color: #333333;
  position: relative;
}

.skillsForeground {
  height: 1vw;
  background-color: #c18277;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#skill1 {
  width: 80%;
  -webkit-animation-name: skillFill1;
          animation-name: skillFill1;
}

#skill2 {
  width: 70%;
  -webkit-animation-name: skillFill2;
          animation-name: skillFill2;
}

#skill3 {
  width: 60%;
  -webkit-animation-name: skillFill3;
          animation-name: skillFill3;
}

#skill4 {
  width: 70%;
  -webkit-animation-name: skillFill4;
          animation-name: skillFill4;
}

#skill5 {
  width: 65%;
  -webkit-animation-name: skillFill5;
          animation-name: skillFill5;
}

@-webkit-keyframes skillFill1 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes skillFill1 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes skillFill2 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes skillFill2 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes skillFill3 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes skillFill3 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@-webkit-keyframes skillFill4 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes skillFill4 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes skillFill5 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@keyframes skillFill5 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

@-webkit-keyframes slide {
  0% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes slide {
  0% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@-webkit-keyframes textReveal {
  0% {
    height: 0vw;
  }
  100% {
    height: 35vw;
  }
}

@keyframes textReveal {
  0% {
    height: 0vw;
  }
  100% {
    height: 35vw;
  }
}

.homeFlexContainer2 {
  width: 100vw;
}

.caseContainer {
  opacity: 0%;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  background-color: #cf5c36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5vw;
  margin: auto;
  margin-top: 5vw;
  color: #f9f6ee;
}

.caseContainer .caseContainerArrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0%;
  height: 0vw;
}

.caseContainer .caseContainerArrow p {
  text-align: center;
  color: #ed9298;
  margin: 0px;
}

.caseContainer:hover {
  color: #cf5c36;
  border-color: #cf5c36;
  cursor: pointer;
}

.caseContainerClicked {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #cf5c36;
  color: #f9f6ee;
  cursor: pointer;
  border: none;
}

.caseContainerClicked .caseContainerTitle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 100%;
  color: #cf5c36;
}

.caseContainerClicked .caseContainerArrow {
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 100%;
  height: 10vw;
}

.caseContainerClicked .arrowImage {
  height: 10vw;
}

.caseContainerClicked:hover {
  color: #f9f6ee;
}

.caseArticle {
  display: none;
  width: 100vw;
  margin: auto;
}

.caseArticle h1 {
  color: #333333;
  padding-top: 5vw;
  margin: auto;
  font-size: 15vw;
  text-align: center;
  width: 100vw;
}

.caseArticleOpen {
  display: block;
}

.descriptionContainer {
  background-color: #ed9298;
}

.description {
  position: -webkit-sticky;
  position: sticky;
  background-color: #333333;
  color: #f9f6ee;
  padding: 2vw;
  margin: 0px;
  margin-bottom: 5vw;
  border-radius: 0px 30px 30px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 5px;
}

.scrollUpContainer {
  width: 30vw;
  text-align: center;
  margin: auto;
}

.scrollUp {
  color: #333333;
  font-weight: 700;
  font-size: 2vw;
  margin: 0px;
}

.articleRow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333333;
  font-size: 1.3vw;
  font-family: "Noto Serif", serif;
  width: 60vw;
  margin: 0px auto;
  margin-bottom: 10vw;
}

.articleRow img {
  width: 60vw;
}

.articleRowThree > img {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 30vw;
}

.articleRowFive {
  background-color: #ffffff;
  padding: 5vw;
}

.articleRowFive img {
  width: 50vw;
}

#caseTwoIDArticle .articleRow2 {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10vw;
}

#caseTwoIDArticle .articleRow2 img {
  width: 19vw;
}

#caseTwoIDArticle .articleRow2 video {
  height: 70vh;
}

#caseTwoIDArticle .bigbigContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#caseTwoIDArticle .bigContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#caseTwoIDArticle .bigContainer img {
  width: 50vw;
}

#caseTwoIDArticle .iconFlex {
  margin-left: 4vw;
}

#caseTwoIDArticle .iconFlex img {
  width: 15%;
}

#caseTwoIDArticle .articleRow2One {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vw;
}

#caseTwoIDArticle .articleRow2One img {
  width: 60vw;
}

#caseTwoIDArticle .articleRow2Two img {
  width: 10vw;
}

#caseTwoIDArticle .articleRow2Four {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caseTwoIDArticle .articleRow2Four video {
  height: 60vw;
}

#caseThreeIDArticle .articleRow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#caseThreeIDArticle .articleRow video {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40vw;
}

#caseFourIDArticle .articleRow {
  width: 80vw;
}

#caseFourIDArticle .articleRow video {
  width: 80vw;
}

#caseFourIDArticle .articleRow img {
  width: 25vw;
}

#caseFourIDArticle .articleRowFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#caseFourIDArticle .articleRowFour div {
  width: 25vw;
}

.classCaseFive {
  height: 90vh;
}

#footer1 {
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -8px -8px 10px 0 white;
  background-color: #333333;
  padding: 2vw;
  color: #faf9f6;
}

#footer1 #contactFormParagraph {
  font-size: 6vw;
  text-align: center;
  font-weight: 600;
  margin: 0px;
  margin-top: 3vw;
}

#footer1 #contactFormParagraph2 {
  font-size: 4vw;
  text-align: center;
  font-weight: 100;
  width: 60vw;
  margin: auto;
  margin-bottom: 3vw;
}

#footer1 form {
  text-align: center;
  margin-bottom: 5vw;
}

#footer1 form input,
#footer1 form textarea {
  display: block;
  margin: auto;
  border-radius: 10px;
  border: none;
  background-color: #333333;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
  color: rgba(249, 246, 238, 0.8);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 5vw;
  padding: 3vw;
  width: 70vw;
}

#footer1 form #message {
  height: 20vh;
}

#footer1 form #submit {
  width: 30vw;
  -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -5px -5px 10px 0 rgba(255, 255, 255, 0.05);
          box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15), -5px -5px 10px 0 rgba(255, 255, 255, 0.05);
}

#footer1 form #submit:hover {
  color: #009849;
}

#footer2 {
  background-color: #009849;
  width: 100vw;
  margin: 0px;
  text-align: center;
  padding: 6px 0px;
  font-size: 4vw;
}

#footer2 p {
  margin: 0px;
}

@-webkit-keyframes headerRoll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes headerRoll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@media (min-width: 640px) {
  #introductionLine .introImg {
    height: 15vw;
  }
  #footer1 #contactFormParagraph {
    font-size: 2vw;
  }
  #footer1 #contactFormParagraph2 {
    font-size: 1vw;
    width: 15vw;
  }
  #footer1 form input,
  #footer1 form textarea {
    width: 25vw;
    margin-top: 1vw;
    padding: 1vw;
  }
  #footer1 form #submit {
    width: 10vw;
  }
  #footer1 form #submit:active {
    -webkit-box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
            box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.15) inset, -8px -8px 5px 0 rgba(255, 255, 255, 0.05) inset;
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  #footer2 {
    font-size: 2vw;
  }
}

@media (min-width: 960px) {
  #footer2 {
    font-size: 1vw;
  }
}
/*# sourceMappingURL=main.css.map */